body {
  margin: 0;

  background-color: rgb(167, 124, 93);
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 5px 0;
}

.block {
  margin: 50px;
}
